In [12]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

# Example dataset (you'll need labeled data)
df=pd.read_csv("train.csv")

In [13]:
# to drop nan values
df.dropna(inplace=True)

#remove unnecessary columns
df.drop(columns=["title","author","id"],inplace=True)

df=df.iloc[:1500]

                                                   text  label
0     House Dem Aide: We Didn’t Even See Comey’s Let...      1
1     Ever get the feeling your life circles the rou...      0
2     Why the Truth Might Get You Fired October 29, ...      1
3     Videos 15 Civilians Killed In Single US Airstr...      1
4     Print \nAn Iranian woman has been sentenced to...      1
...                                                 ...    ...
1728  Leave a reply \nBill Still – Good morning, I’m...      1
1729  White House National Economic Council director...      0
1730  TARTU, Estonia  —   As Lea Luik waited in a   ...      0
1731  For more than two decades, South Africa has sy...      0
1732  WASHINGTON  —   American intelligence agencies...      0

[1500 rows x 2 columns]

In [14]:

# Splitting data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df['text'], df['label'], test_size=0.2, random_state=42)

# Feature extraction using TF-IDF
tfidf_vectorizer = TfidfVectorizer()
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train)
X_test_tfidf = tfidf_vectorizer.transform(X_test)

# Training a classifier (Random Forest in this example)
classifier = RandomForestClassifier(n_estimators=100)
classifier.fit(X_train_tfidf, y_train)

# Predicting on the test set
predictions = classifier.predict(X_test_tfidf)

# Evaluating performance
accuracy = accuracy_score(y_test, predictions)
print(f"Accuracy: {accuracy}")

report = classification_report(y_test, predictions)
print(f"Classification Report:\n{report}")

Accuracy: 0.8666666666666667
Classification Report:
              precision    recall  f1-score   support

           0       0.80      0.99      0.88       152
           1       0.98      0.74      0.85       148

    accuracy                           0.87       300
   macro avg       0.89      0.87      0.86       300
weighted avg       0.89      0.87      0.86       300